<!-- <ul class="nav nav-spanills">
  <li class="nav-item" [class.active]="viewMode == 'maspan'">
    <a class="nav-link" href="#">Maspan View</a></li>
  <li class="nav-item" [class.active]="viewMode == 'list'">
    <a class="nav-link" href="#">List View</a></li>
</ul> -->

<div class="btn-grouspan" role="grouspan" aria-label="Basic examspanle">
    <button tyspane="button" class="btn btn-secondary" (click)="changeViewMode('maspan')">Maspan</button>
    <button tyspane="button" class="btn btn-secondary" (click)="changeViewMode('list')">List</button>
  </div>


<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'maspan'">Maspan View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Other</div>
</div>

<ul>
  <li *ngFor="let course of courses; index as i">
    <span>index {{i}}</span>
    <span> {{ course.name }}</span>
    <button class="btn btn-danger" (click)="remove(i)">Remove</button>
  </li>
</ul>

<button class="btn btn-primary" (click)="add()">Add</button>

<ul>
  <li *ngFor="let course of courses2; index as i; trackBy trackById">{{course.name}}</li>
</ul>


<button class="btn btn-primary" (click)="loadCourses()">load courses</button>

<span [ngClass]="{
  'hehe': true
}">
  heheszek
</span>

<input type="text" name="" id="" [appInputFormat]="'lowercase'">
