<p>is-active-lesson works!</p>

<button

class="btn btn-primary"
*ngFor="let btn of buttons; let i = index"
(click)="setActive(i, $event)"
[class.active]="btn">
{{btn.Active}}</button>

<div>
    <input #textInput [value]="oneWay | uppercase" type="text" name="" id="">
    <button class="btn btn-secondary" (click)="sendInput(textInput.value, $event)">poka</button>

    <h2 #head1></h2>
    <h2 #head2></h2>
</div>

<div>
    <input [(ngModel)]="twoWay" type="text" name="" id="">
    <button class="btn btn-secondary" (click)="sendInput(twoWay, $event)">poka</button>
</div>

<div>
    <input [ngModel]="twoWay | uppercase"
          (ngModelChange)="twoWay=$event"
    type="text" name="" id="">
    <button class="btn btn-secondary" (click)="sendInput(twoWay, $event)">poka</button>
</div>

