<h2>{{this.title}}</h2>
<h2>{{getNazwa()}}</h2>

<ul>
  <li *ngFor="let course of courses">
    {{ course }}
  </li>
</ul>

  <input [(ngModel)]="title">
  <button class="btn btn-primary"  (click)=changeTitle(title)>Submit</button>

