<h2>Moj pierwszy angular</h2>
<!-- <app-courses-component></app-courses-component>
<app-authors></app-authors> -->
<!-- <app-is-active-lesson></app-is-active-lesson> -->
<!-- <app-summary-pipe-lesson></app-summary-pipe-lesson> -->
<!-- <app-favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChange($event)"></app-favorite> -->
<!-- <bootstrap-panel>
  <ng-container class="lgi1">dane lgi1</ng-container>
  <div class="lgi2">dane lggi2</div>
  <div class="lgi3">dane lgi3</div>
</bootstrap-panel> -->
<!-- <app-iflesson></app-iflesson> -->
<!-- <app-switchlesson></app-switchlesson> -->
<app-posts></app-posts>
