<input (keyup.enter)="createPost(title)" #title class="form-control" type="text">

<ul class="list-group">
  <li class="list-group-item" *ngFor="let post of posts">
    {{post.id}} {{post.title}}
    <button (click)="updatePost(post)" class="btn btn-primary btn-sm">Update</button>
    <button (click)="deletePost(post)" class="btn btn-secondary btn-sm">Delete</button>
  </li>
</ul>
