<h2>{{jakisTekst}}</h2>
<p>property bidding:
  <input [value]="jakisTekst" type="text" name="" id="">
</p>

<p>ngModel two way data bidding:
    <input [(ngModel)]="jakisTekst" type="text" name="" id="">
</p>

table
<table>
  <tr>
    <td [colSpan]="colSpan"></td>
  </tr>
</table>

<ul>
  <li *ngFor="let author of Authors">{{ author }}</li>
</ul>
