
<button class="btn btn-primary">hehe</button>
<div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Heading</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <ng-content select=".lgi1"></ng-content>
        </li>
        <li class="list-group-item">
          <ng-content select=".lgi2"></ng-content>
        </li>
        <li class="list-group-item"
        ><ng-content select=".lgi3"></ng-content>
      </li>
      </ul>
    </div>
  </div>
</div>
